@font-face {
  font-family: 'Zabars';
  src: url('font/ZABARS/zabars.ttf') format('truetype');
}

body {
  background: url('img/background-image-desert.jpg');
  color: #fff;
  font-family: 'Zabars', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.container {
  max-width: 900px;
  margin: 20px auto;
  color: black;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}
p {
  line-height: 1.6;
  margin-bottom: 15px;
}
ul {
  margin-left: 20px;
  margin-bottom: 15px;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: black;
  text-decoration: none;
  border-radius: 4px;
}
a.button:hover {
  background-color: #e65c00;
}

@media (hover: none) and (pointer: coarse) and (orientation: landscape) {
  p {
    line-height: 1;
  }
  body {
    font-size: 16px;
    text-align: justify;
  }
}
